################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JJJGameEngine/.vs/JJJGameEngine/v15
*.user
