################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JJJGameEngine/.vs/JJJGameEngine/v15
*.user
/JJJGameEngine/MathLibrary/Debug
/JJJGameEngine/JJJGameEngine/Debug
/JJJGameEngine/Debug
/JJJGameEngine/JJJGameEngine/x64/Debug
/JJJGameEngine/MathLibrary/x64/Debug
/JJJGameEngine/x64/Debug
/JJJGameEngine/JJJGraphicsEngine/x64/Debug
/JJJGameEngine/JJJOpenGLExtensionLoading/x64/Debug
/.vs
/JJJGameEngine/JJJShaderMap/x64/Debug/JJJShaderMap.tlog
/JJJGameEngine/JJJShaderMap/x64/Debug
/JJJGameEngine/.vs/JJJEngine/v15
/JJJGameEngine/JJJEngine/x64/Debug
/JJJGameEngine/GLMtest/x64/Debug
