################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JJJGameEngine/.vs/JJJGameEngine/v15
*.user
/JJJGameEngine/MathLibrary/Debug
/JJJGameEngine/JJJGameEngine/Debug
/JJJGameEngine/Debug
/JJJGameEngine/JJJGameEngine/x64/Debug
/JJJGameEngine/MathLibrary/x64/Debug
/JJJGameEngine/x64/Debug
